<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <ul>
        <li>
            <a href="{% url 'drive:register' %}">Register</a>
        </li>
        <li>
            <a href="{% url 'drive:login' %}">Login</a>
        </li>

        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'drive:dashboard' request.user %}">Dashboard</a>
        </li>
        <li>
            <a href="{% url 'drive:logout' %}">Logout</a>
        </li>
        <li>
            <a href="{% url 'drive:upload' %}">Upload</a>
        </li>
        {% endif %}
    </ul>


    {% block content %}

    {% endblock %}
</div>
</body>
</html>